html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

main {
  background-image: url(../images/leonardo-wong-7pGehyH7o64-unsplash-2-1200x600.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.all_content {
  position: relative;
  left: 10%;
}

.tittle {
  font-size: 80px; color: rgb(58, 57, 55); 
  font-family:Cursive;
}

.content {
  font-size: 20px;
}



@media screen and (max-width:767px) {
  .button {
    width: 40%;
  }

  .tittle {
    font-size: 50px;
  }

  .content {
    font-size: 10px;
  }

  .all_content {
    left: 1%;
  }


}